* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50' height='25' viewBox='0 0 50 25'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.1' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ffffff' stroke-width='0.1'%3E%3Crect fill='%23fafafa' width='1' height='1'/%3E%3Crect fill='%23ffffff' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23f5f5f5' width='1' height='1' y='1'/%3E%3Crect fill='%23f0f0f0' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ebebeb'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ffffff'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23BA7'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23BA7'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='50' height='25'/%3E%3Crect fill='url(%23b)' width='50' height='25'/%3E%3Crect fill='url(%23c)' width='50' height='25'/%3E%3Crect fill='url(%23d)' width='50' height='25'/%3E%3Crect fill='url(%23e)' width='50' height='25'/%3E%3Crect fill='url(%23f)' width='50' height='25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#main {
    display: grid;
    justify-items: center;
    align-content: center;
    min-height: 100vh;
}

#gameGrid {
    display: grid;
    background: rgb(50, 185, 50);
    background: radial-gradient(circle, rgba(50, 185, 50, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 900px;
    height: 700px;
    border: 10px solid #E0E0E0;
    border-radius: 50px;
    grid-template-rows: 30% 20% 30% auto;
    padding: 13px;
}

#row1 {
    background-color: #FF0000;
}

/* row2 */
#row2 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

#row2 .left-div {
    background-color: aqua;
}

#row2 .center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#row2 .center-div #chip-holder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #cccccc;
    position: relative;        
}

#row2 .center-div #chip-holder img {
    position: absolute;
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    left:-2px;
    top:-2px;
}
#row2 .center-div #chip-holder img:hover {
    cursor: pointer;
    border-color: #ADFF26;
}

#row2 .center-div #bet {
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 20px;
    min-width: 120px;
}

#row2 .right-div {
    background-color: blue;
}

#row3 {
    background-color: red;
}


/* row4 */
#row4 {
    display: grid;
    grid-template-columns: 75% auto;
    align-items: center;
}

#row4 img {
    width: 100px;
    height: auto;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
}

#row4 img:hover {
    cursor: pointer;
    border-color: #ADFF26;
}

#bank {
    font-weight: bold;
    color: #ADFF26;
    font-size: 3rem;
    text-align: center;
}

.bank-text {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}